@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');

/* VARIABLES */
:root {
    --accent: hsl(212, 98%, 47%);
    --black: hsl(240, 3%, 8%);
    --filter: hsl(242, 50%, 13%);
    --grey: hsl(214, 6%, 65%);
    --off-black: hsl(220, 3%, 19%);
    --off-white: hsl(210, 100%, 98%);
    --white: hsl(0, 0%, 100%);
}

/* BASE */
*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font: 400 1rem/1.65 'Montserrat', sans-serif;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    display: none;
}
main section {
    display: grid;
    place-content: center;
}
.container {
    display: grid;
    gap: 3em;
    padding: 5em 3em;
    height: 100%;
    place-content: center;
}
.btn {
    background-color: var(--accent);
    border: 0;
    color: var(--white);
    font-size: 1.2rem;
    padding: .71em 1.6em .8em;
    position: relative;
}
a {
    text-decoration: none;
}
img {
    display: block;
    height: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
}
.full-width {
    height: 300px;
    width: 100%;
}
.full-width::after,
.values__img::after,
.parallax::after,
.hero::before {
    background-blend-mode: color;
    background-color: var(--accent);
    content: '';
    display: block;
    height: 100%;
    opacity: .6;
    position: relative;
    top: -100%;
    width: 100%;
}
.parallax {
    height: 400px;
    position: relative;
    background: url(img/full-01-1200.webp) center / cover;
    background-attachment: fixed;
}
.parallax::after {
    top: 0;
}
.material-symbols-outlined {
    font-size: 16px !important;
    margin-right: 3px;
    vertical-align: -2px;
    font-variation-settings:
    'FILL' 1,
    'wght' 700,
    'GRAD' 0,
    'opsz' 50
}

/* TYPOGRAPHY */
.title {
    font: 700 2.7rem/1.1 'Montserrat', sans-serif;
    margin: 1em auto 0;
    position: relative;
    z-index: 1;
}
.title::after,
.title::before {
    content: '';
    display: inline-block;
    position: absolute;
}
.title::after {
    background-color: var(--black);
    height: 5px;
    top: 42px;
    width: 24px;
}
.bold {
    font-weight: 700;
}
.deselected {
    opacity: .5;
}

/* ANIMATION */
.hidden {
    filter: blur(5px);
    opacity: 0;
    transform: translateX(-40%);
    transition: all ease-out 250ms;
}
.show {
    filter: blur(0);
    opacity: 1;
    transform: translateX(0);
}
.delay--2 {
    transition-delay: 100ms;
}
.delay--3 {
    transition-delay: 200ms;
}
.delay--4 {
    transition-delay: 300ms;
}
@media (prefers-reduced-motion: reduced) {
    .hidden {
        transition: none;
    }
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    padding: 1.5em 2em;
    position: absolute;
    width: 100%;
    z-index: 10;
}
.logo {
    aspect-ratio: 1 / 1;
    height: 40px;
	display: block;
	position: relative;
	width: 40px;
}
.logo svg {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.header img {
    height: 100%;
    width: 100%;
}
.lang {
    color: var(--white);
    display: flex;
    /* height: 40px; */
    align-items: center;
}

/* HERO */
.hero {
    display: grid;
    height: 100vh;
    place-content: center;
}
.hero::before {
    background-color: var(--filter);
    opacity: 1;
}
.hero__container {
    color: var(--white);
    margin: 2em;
    position: relative;
    text-align: center;
    z-index: 2;
}
.hero__bkg {
    height: 100vh;
    position: absolute;
    width: 100%;
    z-index: -1;
}
.hero__bkg::after {
    background-blend-mode: multiply;
    background-color: var(--filter);
    content: '';
    display: block;
    height: 100%;
    opacity: .8;
    position: relative;
    top: -100%;
    width: 100%;
    z-index: 2;
}
.hero__title {
    font: 700 2.7rem/1.1 'Montserrat', sans-serif;
    margin-block: 0 .8em;
}
.hero__subtitle {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 2em;
}
.hero__scroll-icon {
    bottom: 3vh;
    height: 40.5px;
    left: 50%;
    position: absolute;
    width: 18px;
    z-index: 2;
}

/* ABOUT US */
.about {
    background-color: var(--black);
    color: var(--white);
    display: block;
    position: relative;
}
.about .about__title,
.mission .mission__title {
    margin-left: 43px;
}
.about .about__title::after {
    background-color: var(--white);
}

/* MISSION */
.mission {
    background-color: var(--off-white);
    display: block;
}

.big-photo__01 {
    background: var(--full-w-01-s) center / cover orange;
}

/* VALUES */
.values__title {
    margin: 2em auto;
}
.values__container {
    display: block;
    padding-bottom: 4em;
}
.values__subtitle {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.3;
}
.values__subtitle::before,
.values__subtitle::after {
    content: '';
    display: block;
}
.values__subtitle::before {
    color: var(--accent);
    content: '01';
    font-size: 5.5rem;
    font-weight: 800;
    left: -3px;
    line-height: 1;
    margin-block: -.2em .1em;
    opacity: .4;
    position: relative;
}
.values__subtitle {
    max-width: 10.5ch;
}
.values__subtitle--02::before {
    content: '02';
}
.values__subtitle--03::before {
    content: '03';
}
.values__subtitle::after {
    background-color: var(--accent);
    content: '';
    display: block;
    margin-block: .6em 1em;
    height: 4px;
    width: 80px;
}
.values__img {
    height: 300px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

/* VISION */
.vision {
    background-color: var(--off-white);
    position: relative;
    text-align: center;
}
#i-can {
    display: block;
    font-size: 2rem;
    margin-block: -.5em 0;
}
#i-can::before,
#i-can::after {
    color: var(--accent);
    display: inline-block;
    font: 600 3rem 'Montserrat', sans-serif;
}
#i-can::before {
    content: '„';
}
#i-can::after {
    content: '“';
}

/* FOOTER */
.footer {
    background-color: var(--black);
    color: var(--grey);
    display: grid;
    font-size: .9rem;
    gap: 2em;
    padding-block: 3.5em 2em;
}
.footer__container {
    display: flex;
    flex-direction: column;
    gap: .4em;
    margin-inline: auto;
    text-align: center;
}
.company {
    gap: 2em;
    max-width: 35ch;
}
.footer__logo {
    margin: 0 auto;
    width: 200px;
    place-self: center;
}
.contacts {
    font-style: normal;
    overflow-x: hidden;
}
.mail {
    vertical-align: -3px;
}
.copyright::before {
    background-color: var(--off-black);
    content: '';
    display: block;
    height: 1px;
    margin-bottom: 1.5em;
    position: relative;
    width: 100vw;
}
.contacts__title {
    font-size: 1.5rem;
}
.copyright {
    font-size: .8rem;
    opacity: .8;
}
.footer__link {
    color: var(--grey);
}
.maya {
    color: var(--accent);
}

/* RESPONSIVE */
@media screen and (min-width: 400px) {
    .title::before {
        aspect-ratio: 1 / 1;
        background-color: var(--accent);
        height: 60px;
        left: -42px;
        top: -36px;
        z-index: -1;
    }
    .about__title--en::before {
        left: -39px;
        top: -32px;
    }
    .vision .vision__title::before {
        left: -37px;
    }
    .values .values__title--en::before,
    .vision .vision__title--en::before {
        left: -46px;
    }
    .btn {
        font-size: 1.4rem;
    }
    .dots {
        background: 
            radial-gradient(var(--accent) 3px,
            transparent 4px)
            0px 0px / 20px 20px;
        height: 99px;
        position: absolute;
        right: 10vw;
        width: 80px;
        z-index: 1;
    }
    #dots--01 {
        top: 94%;
    }
    #dots--02 {
        top: -8%;
    }
}
@media screen and (min-width: 500px) {
    .container:not(.values__container) {
        margin-inline: auto;
        max-width: 55ch;
        padding: 3em 3em 5em;
    }
    .title {
        font-size: 4rem;
        margin: 1.2em auto .3em;
    }
    .hero__title {
        font-size: 4rem;
    }
    .title::before {
        height: 70px;
        left: -43px;
        top: -35px;
    }
    .title::after {
        height: 8px;
        top: 60px;
        width: 38px;
    }
    .about__title--en::before {
        left: -39px;
        top: -30px;
    }
    .values .values__title--en::before,
    .vision .vision__title--en::before {
        left: -51px;
    }
    .hero__subtitle {
        font-size: 1.4em;
    }
    .dots {
        height: 124px;
        top: 91%;
    }
    .values {
        grid-template-columns: 1fr 500px 1fr;
    }
    .values__container {
        margin-inline: 1.5em;
    }
    .values__title {
        margin-block: 2.2em 1.8em;
    }
    .values__title,
    .values__img {
        grid-column: span 3;
    }
    .values__container {
        grid-column: 2 / 3;
    }
}
@media screen and (min-width: 900px) {
    .container:not(.values__container) {
        padding-inline: 5em;
    }
    .title {
        font-size: 5rem;
    }
    .title::before {
        height: 90px;
        left: -56px;
        top: -46px;
    }
    .title::after {
        top: 76px;
    }
    .about__title--en::before {
        left: -52px;
        top: -40px;
    }
    .vision .vision__title::before {
        left: -48px;
    }
    .values .values__title--en::before,
    .vision .vision__title--en::before {
        left: -66px;
    }
    .dots {
        background: radial-gradient(var(--accent) 4px, transparent 5px) 0px 0px / 25px 25px;
        height: 124px;
        width: 102px;
    }
    .about .about__container {
        grid-template-columns: repeat(3, fit-content(250px));
        max-width: unset;
        min-height: 100vh;
        width: 100%;
    }
    .about .about__title {
        grid-column: 2 / 4;
        margin-inline: 58px 38px;
    }
    .about__txt:first-of-type {
        grid-column: 1 / 3;
    }
    .about__txt:last-of-type {
        grid-column: 2 / 4;
    }
    .mission .mission__container {
        max-width: 710px;
    }
    .mission .mission__title {
        margin-left: 56px;
    }
    .footer {
        grid-template-columns: 1fr 1fr;
        justify-items: start;
    }
    .footer__container {
        align-items: flex-start;
        gap: .6em;
        margin-left: 4em;
    }
    .company {
        gap: 2.5em;
        justify-self: start;
    }
    .footer__logo {
        margin: unset;
        place-self: start;
    }
    .footer__text {
        text-align: left;
    }
    .contacts__title {
        left: 20px;
        position: relative;
    }
    .copyright {
        flex-direction: row;
        flex-wrap: wrap;
        grid-column: span 2;
        justify-content: space-between;
        margin-inline: 4em;
    }
    .copyright::before {
        margin-block: 2em 1.5em;
        width: calc(100vw - 8em);
    }
}
@media screen and (min-width: 1024px) {
    /* .full-width{
        height: 400px;
    } */
    .parallax {
        height: 700px;
    }
    #dots--01 {
        top: 94.5%;
    }
    .values {
        grid-template-columns: 1fr 1fr;
    }
    .values__title {
        grid-column: span 2;
    }
    .values .values__img {
        height: 50vw;
        width: 50vw;
    }
    .values .values__container {
        display: grid;
        gap: 1em;
        margin: 0;
        padding-inline: 4.9em 4em;
        max-width: 50vw;
    }
    .values .values__img:nth-of-type(1) {
        grid-area: 2 / 1 / 3 / 2;
    }
    .values .values__container:nth-of-type(2) {
        grid-area: 2 / 2 / 3 / 3;
    }
    .values .values__img:nth-of-type(3) {
        grid-area: 3 / 2 / 4 / 3;
    }
    .values .values__container:nth-of-type(4) {
        grid-area: 3 / 1 / 4 / 2;
    }
    .values .values__img:nth-of-type(5) {
        grid-area: 4 / 1 / 5 / 2;
    }
    .values .values__container:nth-of-type(6) {
        grid-area: 4 / 2 / 5 / 3;
    }
    .values__subtitle {
        font-size: 2.5rem;
        position: relative;
    }
    .values__subtitle::before {
        font-size: 8rem;
        left: -40px;
        opacity: .2;
        position: absolute;
        top: -31px;
    }
    .values__subtitle::after {
        height: 5px;
        margin-block: .4em .5em;
        width: 110px;
    }
    .values__text {
        max-width: 396px;
    }
}
@media screen and (min-width: 1800px) {
    .values__subtitle {
        font-size: 3.2rem;
        line-height: 1.2;
    }
    .values__subtitle::before {
        font-size: 12rem;
        left: -70px;
        top: -59px;
    }
}