@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* VARIABLES */
:root {
    --accent: #0372EF;
    --black: #131314;
    /* --filter: #0c0b2d; */
    --filter: #111030;
    --white: #fff;

    --hero-bkg: url(img/anne-nygard-cA8VTQeHU0c-unsplash.webp);
}

/* BASIC STYLES */
*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
}
body {
    font: 400 1rem/1.65 'Montserrat', sans-serif;
}
::-webkit-scrollbar {
    display: none;
}
main section {
    display: grid;
    min-height: 820px;
    place-content: center;
}
.container {
    border: 2px solid forestgreen;
    display: grid;
    gap: 3em;
    margin-inline: 2em;
    height: 100%;
    place-content: center;

}
.title {
    font: 700 2.7rem/1.1 'Montserrat', sans-serif;
    position: relative;
    z-index: 1;
}
.title:not(.hero__title)::after,
.title:not(.hero__title)::before {
    content: '';
    display: inline-block;
    position: relative;
}
.title:not(.hero__title)::after {
    background-color: var(--black);
    height: 5px;
    top: 6px;
    width: 24px;
}
.btn {
    background-color: var(--accent);
    border: 0;
    color: var(--white);
    font-size: 1.2rem;
    padding: .71em 1.6em .8em;
    position: relative;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    padding: 1.5em 2em;
    position: fixed;
    width: 100%;
    z-index: 10;
}
.logo {
    height: 40px;
}
.header img {
    height: 100%;
    width: 100%;
}

/* HERO */
.hero {
    background: var(--hero-bkg) center / cover;
    display: grid;
    height: 100vh;
    place-content: center;
}
.hero__container {
    color: var(--white);
    margin: 2em;
    position: relative;
    text-align: center;
    z-index: 2;
}
.hero__bkg {
    background-color: var(--filter);
    background-blend-mode: multiply;
    display: block;
    height: 100%;
    opacity: .8;
    position: absolute;
    top: 0;
    width: 100%;
}
.hero__title {
    margin-bottom: .8em;
}
.hero__subtitle {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 2em;
}
.hero__scroll-icon {
    bottom: 3vh;
    left: 50%;
    position: absolute;
    z-index: 2;
}

/* ABOUT US */
.about {
    background-color: var(--black);
    color: var(--white);
    position: relative;
}
.about .about__title::after {
    background-color: var(--white);
}

/* VISION */
.vision {
    position: relative;
    border: 1px solid var(--accent);
}

/* FOOTER */
.footer {
    background-color: var(--black);
    color: var(--white);
    display: grid;
    gap: 2em;
    padding: 3em 2em;
}
.footer__logo {
    display: block;
    margin: 0 auto;
    width: 200px;
    place-self: center;
}
.contacts {
    display: flex;
    flex-direction: column;
    font-size: .9rem;
    gap: .4em;
    text-align: center;
    opacity: .8;
}
.contacts__title {
    font-size: 1.5rem;
}

/* RESPONSIVE */
@media screen and (min-width: 400px) {
    .title:not(.hero__title)::before {
        aspect-ratio: 1 / 1;
        background-color: var(--accent);
        height: 60px;
        left: 22px;
        top: -16px;
        z-index: -1;
    }
    .btn {
        font-size: 1.4rem;
    }
    .dots {
        background: radial-gradient(var(--accent) 4px, transparent 5px) 0px 0px / 25px 25px;
        height: 203px;
        position: absolute;
        right: 10vw;
        top: 91%;
        width: 102px;
    }
    .vision .dots {
        top: 92vh;
    }
}
@media screen and (min-width: 500px) {
    .title {
        font-size: 4rem;
    }
    .title:not(.hero__title)::before {
        height: 70px;
        left: 27px;
        top: -23px;
    }
    .title:not(.hero__title)::after {
        height: 8px;
        width: 38px;
    }
    .hero__subtitle {
        font-size: 1.4em;
    }
}
@media screen and (min-width: 900px) {
    .title {
        font-size: 5rem;
    }
    .title:not(.hero__title)::before {
        height: 100px;
        left: 38px;
        top: -29px;
    }
}